// Typography
$body-font-family:        'proxima-nova','Trebuchet MS', Arial, Helvetica, serif;
$heading-font-family:     'proxima-nova', Arial, Helvetica, sans-serif;

$body-font-size:            16px;
$heading-font-size:         36px;


// Base Colors
$turquoise:         #008C99;
$gold:        		#F1A92D;
$red: 				#CE0000;
$blue: 				#0083B9;
$dark-gray: 		#423C38;
$light-gray: 		#F1F2F2;
$white: 			#FFFFFF;
$black: 			#000000;


// Site Colors
$body-text-color:   $dark-gray;
$body-link-color:   $blue;