/* FORMS */
.alert {
	width: 100%;
	background-color: #ffecee;
	border: 1px solid #d02635;
	border-radius: 5px;
	padding: 20px 25px;
	
	.icon {
		float: left;
		width: 50px;
		
		.fa-exclamation-triangle {
			color: #d02635;
			margin-top: 5px;
		}
	}
	.alert-message {
		p {
			margin: 0px;
		}
	}
}
.contact-form {
	width: 65%;
	margin-right: 4%;
	float: left;
}
.contact-info {
	width: 31%;
	float: left;
	
	h3 {
		font-size: 22px;
		margin-top: 30px;
	}
}
form {
	color: $dark-gray;
	
	fieldset {
		border: none;
		margin: 0px;
		padding: 0px;
	}
	h2 {
		font-size: 22px;
		margin: 30px 0px;
	}
	label {
		display: block;
		margin-bottom: 5px;
		color: $dark-gray;
	}
	input, textarea, select {
		width: 100%;
		padding: 7px;
		border-radius: 2px;
		border: 1px solid #bfbfbf;
		color: $dark-gray;
		font-family: $body-font-family;
	}
	input[type="text"], input[type="email"], input[type="tel"], textarea, select {
		-webkit-appearance: none;
	}
	textarea {
		height: 100px;
		resize: none;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: $white;
		background: url(../img/arrow_down.png) no-repeat center right $white;
		
		&:focus {
			background: url(../img/arrow_down.png) no-repeat center right $white;
		}
	}
	select[multiple] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: $white;
		background: none;
		
		&:focus {
			background: none;
		}
	}
	input[type="checkbox"], input[type="radio"] {
		width: auto;
		float: left;
		margin-right: 10px;
	}
	input[type="checkbox"] ~ label, input[type="radio"] ~ label {
		margin-bottom: 10px;
	}
	input[type="submit"], input[type="reset"] {
		width: auto;
		padding: 10px 40px;
		cursor: pointer;
		color: $white;
		transition: all .2s ease-in-out;
		border: none;
	}
	input[type="submit"] {
		background-color: $turquoise;
		margin-right: 15px;
		
		&:hover {
			background-color: rgba($turquoise, .7);
		}
	}
	input[type="reset"] {
		background-color: #a3a3a3;
		margin-right: 15px;
		
		&:hover {
			background-color: rgba(163, 163, 163, .7);
		}
	}
}
.full {
	width: 100%;
	clear: both;
	margin-bottom: 20px;
}
.half {
	width: 47.5%;
	float: left;
	margin-bottom: 20px;
	margin-right: 5%;
	
	&:nth-of-type(2n) {
		margin-right: 0%;
	}
}
.required {
	&:after {
		content: ' *';
		color: #d02635;
	}
}
.form-red-txt {
	color: $red;
	margin-top: 30px;
}
.error {
	border: 2px solid $red;
}
.validation-label {
	color: $red;
	font-size: 14px;
	margin: 5px 0px 0px;
}
.search-dropdown {
	background-color: $dark-gray;
	width: 50%;
	padding: 10px;
	float: right;
	margin-top: -10px;
    margin-right: 5px;
	position: absolute;
	right: 0px;
	display: none;
	
	input {
		border-radius: 0px;
		border: none;
	}
	input[type="submit"] {
		background-color: $gold;
		float: right;
		margin-right: 0px;
		position: relative;
		margin-top: -33px;
		height: 33px;
		width: 33px;
		padding: 8px 0px 8px 3px;
		font-family: 'FontAwesome';
		
		&:hover {
			background-color: $gold;
		}
	}
}
.show-search {
	display: block;
	background-color: $dark-gray;
}

/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
	.contact-form {
		width: 100%;
	}
	.contact-info {
		width: 100%;
	}
}
@media screen and (max-width: 400px) {
	.half {
		width: 100%;
		margin-right: 0%;
	}
}